body{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color:rgb(225, 228, 228)

}

#modal{
	background-color: rgba(0, 0, 0, .4);
    display:none;
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow:auto;
    

}
#modal-textbox{
	background-color:rgb(176, 196, 196);
	height:515px;
	width: 350px;
	border-radius: 10px;
	margin: 150px auto;
    padding: 10px;
    border:2px solid black ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align:center;

}

#modal2{
	background-color: rgba(0, 0, 0, .4);
    display:none;
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow:auto;
    

}
#modal-textbox2{
	background-color:rgb(176, 196, 196);
	height:200px;
	width: 300px;
	border-radius: 10px;
	margin: 150px auto;
    padding: 10px;
    border:2px solid black ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align:center;

}

.icon{
    height:35px;
}

.icon:hover{
    transform: scale(1.2s);
}
img{
    height:100%;
    padding:0;
}
a{
    margin:0;
    text-decoration: none;
    color:black;
}

a:hover{
    transform: scale(1.3);
  color:rgb(91, 88, 88);
}

table{
    border: 1px solid black;
    background-color: white;
    border-radius: 7px;
    padding: 2em;
    display:flex;
    justify-self: center;
    margin: 1em 2em 1em 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y:scroll;
    height:70vh;
    min-width:350px;
}

table::-webkit-scrollbar {
    width: 1em;
  }
   
  table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

td{
   border-top: 2px solid rgb(239, 237, 237);
    margin:0;
    padding: 2px 5px 2px 5px;
}

#tableContainer{
    Display:flex;
    justify-content: center;
}

#header{
  margin-top: 2em;
  /* background-color:rgba(215, 212, 212, 0.8); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:.5em;
  border-radius: 7px;
}

.redText{
    color:red;
    font-weight: 400;
}

button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

textarea{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboardImg{
    height:10vh;
}

.closeX{
    display:flex;
    justify-self: flex-start;
}

.submitCenter{
    display:flex;
    justify-self: center;
}

.card-body{
    text-align: left;
    display:inline-block;
}

.card-header{
    text-align: left;
    display:inline-block;   
}

.alert{
    display:none;
}

#admin{
    display:flex;
    justify-self:center;
    width:35vw;
}

.loginSignupContainers{
    background-color:#c9cbcb;
    width:30vw;
    align-self: center;
    padding:.5em .5em 1em .5em;
    border:1px solid rgb(110, 108, 108);
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerContainer{
    display:flex;
    justify-content: center;
}

.deleteModal{
  display: inline-flex;
  justify-content: center;
    
}

.text-center{
    padding:2em;
}

#updateUser{
    margin-top: 1em;
}

#showContainer{
    min-width: 30vw;
}