{% extends 'base.html' %}

{% block body %}
<h2>Admin</h2>
<div id="tableContainer">
<table class="table" id="admin">

      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Date/Time Added</th>
        <th>Delete</th>
      </tr>

    {% for user in users %}

      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.date_added}}</td>
        <td>
            <a id='delete' href="{{url_for('adminDeleteUser', id=user.id)}}"><div class = 'icon'><img src ="{{url_for('static', filename = 'images/delete.png')}}"></div></a>
        </td>
      </tr>

    {% endfor %}
  </table>
</div> 

{% endblock %}