{% extends 'base.html' %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<br><br>
<div class="card">
    <h5 class="card-header">Dashboard</h5>
    <div class="card-body">
      <h5 class="card-title">You Are Loggged In as {{current_user.username}}</h5>
      <p></p>
<br><br>
<p><strong>Username:</strong> {{current_user.username}}</p>
<p><strong>User Id:</strong> {{current_user.id}}</h4><p>
<p><strong>Date Joined:</strong> {{current_user.date_added}}</p>
      <a href="{{url_for('index')}}" class="btn btn-dark">Home</a>
      <a href="{{url_for('logout')}}" class="btn btn-dark">Logout</a>
<a href="{{url_for('updateUser', id = current_user.id)}}" class="btn btn-dark">Edit Profile</a>
<button class = 'btn btn-outline-danger' id="openModal">Delete User</button>
<div id="contentContainer">
    <div>
        <div class = "textBackground">  
        </div>
        <br>
        <div id="modal2">
            <div id="modal-textbox2">
                <a href="#" id="close2" class = "btn-close"></a>
                <h5>Are you sure you want to delete the profile with the username <span class="redText">{{current_user.username}}</span>?</h5>
                <br>
                <a href="{{url_for('deleteUser', id=current_user.id)}}" class="btn btn-secondary"id="btn-delete">Yes</a>
                <a href="#" class="btn btn-danger" id="close2">Cancel</a>
            </div>
        </div>
    </div>
  </div>







{% endblock %}