{% extends 'base.html' %}

{% block head %}


{% endblock %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% block body %}

<div id="contentContainer">
    <div>
        <br>
        <div class = "textBackground">
        </div>
        <br>
        <div id="modal">
            <div id="modal-textbox">
                <a href="#" id="close" class = "btn-close closeX"></a>
                {% if current_user.is_authenticated %}
                <form action="/add/" method="POST">
                    {{form.hidden_tag()}}
                    <h3>Add Task</h3>
                    {{form.title.label}}
                    <br>
                    {{form.title()}}
                    <br><br>
                    {{form.date_due.label}}
                    <br>
                    {{form.date_due()}}
                    <br><br>
                    {{form.description.label}}
                    <br>
                    {{form.description()}}
                    <br><br>
                    {{form.submit(class="btn btn-secondary")}}
                
                </form>
                {% else %}
                <h4>Must be Logged in to Edit Task</h4>
                <a class = 'btn btn-secondary' href="{{url_for('login')}}">Login</a>
                {% endif %}
            </div>
        </div>

        <div class=".dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter Tasks
            </button>
            <button class = 'btn btn-outline-secondary' id="openModal">Add Task</button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="{{ url_for('filter_incomplete') }}">Incomplete First</a></li>
              <li><a class="dropdown-item" href="{{ url_for('filter_complete') }}">Completed  First</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
    </div>
    <div id ="tableContainer">

        <table id="todoTable">
            {% if todos %}
            <tr>
                <th>Task</th>
                <th>Date Due</th>
                <th>Progress</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Complete</th>
            </tr>
            {% for todo in todos %}
            <tr>
                <td>
                    <a href = "{{url_for('show', id=todo.todo_id)}}">{{ todo.title }}</a>
                </td>
                <td>
                    {{ todo.date_due }}
                </td>
                
                    <td>
                        {% if todo.complete == true %}
                            <a href = "{{url_for('progress', id=todo.todo_id)}}">
                                <img src ="{{url_for('static', filename = 'images/complete.png')}}">
                            </a>
                        {% elif todo.complete == false and todo.in_progress == false  %}
                            <a href = "{{url_for('progress', id=todo.todo_id)}}">
                                <img src ="{{url_for('static', filename = 'images/not_started.png')}}">
                            </a>    
                        {% elif todo.complete == false and todo.in_progress == true  %}
                            <a href = "{{url_for('progress', id=todo.todo_id)}}">
                                <img src ="{{url_for('static', filename = 'images/in_progress.png')}}">
                            </a>    
                        {% endif %}
                    </td>
                </a>
                <td>
                    <a href="{{url_for('update', id=todo.todo_id)}}"><div class = 'icon'><img src ="{{url_for('static', filename = 'images/edit.png')}}"></div></a>
                </td>
                <td>
                    <a id='delete' href="{{url_for('delete', id=todo.todo_id)}}"><div class = 'icon'><img src ="{{url_for('static', filename = 'images/delete.png')}}"></div></a>
                </td>
                <td name ="complete" todo_id='{{todo.todo_id}}'id = "complete{{todo.todo_id}}">
                    <a href="{{url_for('complete', id=todo.todo_id)}}">
                        {% if todo.complete == true %}
                        <span>Mark as incomplete</span>
                        {% elif todo.complete == false %}
                        <span>Mark as complete</span>
                        {% endif %}
                    </a>
                </td>
                {% endfor %}
                {% else %}
                <td>No Tasks to Display</td>
                {% endif %}
            </tr>


        </table>
    </div>
</div>
<!-- <div>
    <ul>
        {% for todo in todos %}
        <li><input type="checkbox">{{ todo.text }}<span>{{ todo.date_due}}</span><a href ="#">Mark as Complete</a></li>
        {% endfor %}
    </ul>
</div>     -->
{% endblock %}