{% extends 'base.html' %}

{% block head %}
<h1>To-Do List</h1>
{% endblock %}

{% block body %}
<div>Add a new To-do item:
    <form action="/add" method="POST">
        <label for="title">Task Title:</label>
        <input type="text" name="title" placeholder = "Task Title">
        <br>
        <label for="date">Date Due:</label>
        <input type="date" name="date">
        <br><br>
        <textarea type="text" name ="description"placeholder ="Description" rows ="10" columns ="40"></textarea>
        <br>
        <input type="submit">
    </form>
</div>
<div>
    <table>
        <tr>
            <th>Task</th>
            <th>Date Due</th>
            <th>Progress</th>
            <th></th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>
                <a href = "{{url_for('show', id=todo.todo_id)}}">{{ todo.title }}</a>
            </td>
            <td>
                {{ todo.date_due }}
            </td>
            
                <td>
                    {% if todo.complete == true %}
                        <a href = "{{url_for('progress', id=todo.todo_id)}}">
                            <img src ="{{url_for('static', filename = 'images/complete.png')}}">
                        </a>
                    {% elif todo.complete == false and todo.in_progress == false  %}
                        <a href = "{{url_for('progress', id=todo.todo_id)}}">
                            <img src ="{{url_for('static', filename = 'images/not_started.png')}}">
                        </a>    
                    {% elif todo.complete == false and todo.in_progress == true  %}
                        <a href = "{{url_for('progress', id=todo.todo_id)}}">
                            <img src ="{{url_for('static', filename = 'images/in_progress.png')}}">
                        </a>    
                    {% endif %}
                </td>
            </a>
            <td>
                <a href="{{url_for('update', id=todo.todo_id)}}">Edit</a>
                <br>
                <a href="{{url_for('delete', id=todo.todo_id)}}">Delete</a>
            </td>
            <td>
                <a href="{{url_for('complete', id=todo.todo_id)}}">
                    {% if todo.complete == true %}
                    <span>Mark as incomplete</span>
                    {% elif todo.complete == false %}
                    <span>Mark as complete</span>
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- <div>
    <ul>
        {% for todo in todos %}
        <li><input type="checkbox">{{ todo.text }}<span>{{ todo.date_due}}</span><a href ="#">Mark as Complete</a></li>
        {% endfor %}
    </ul>
</div>     -->
{% endblock %}