{% extends 'base.html' %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<br><br>

<div class="centerContainer">
<div class="loginSignupContainers">
<h1>Login</h1>

<br>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.username.label}}
    <br>
    {{form.username()}}
    <br><br>
    {{form.password.label}}
    <br>
    {{form.password()}}
    <br><br>
    {{form.submit(class='submit btn btn-secondary')}}
    <br><br>
<p><span>Don't have an account?</span><a class="nav-link" href="{{url_for('registration')}}">Sign-up</a></p>
</form>
</div>
</div>



<br><br><br>
{% for our_user in our_users %}
   {{our_user.id}} - {{our_user.username}}<br>
{% endfor %}
{% endblock %}