{% extends 'base.html' %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<br><br>


{% if username %}
<h2> Welcome {{username}}!</h2>
{% else %}
<div class="centerContainer">
<div class="loginSignupContainers">
<h1>Create Login</h1>
<form method="POST">
  {% for error in form.username.errors %}
  <span class="redText">{{error}}</span>
  {% endfor %}
  <br>
  {% for error in form.password_hash.errors %}
  <span class="redText">{{error}}</span>
  {% endfor %}  
  <br> 
    {{form.hidden_tag()}}
    {{form.username.label}}
    <br>
    {{form.username()}}
    <br><br>
    {{form.password_hash.label}}
    <br>
    {{form.password_hash()}}
    <br><br>
    {{form.password_hash2.label}}
    <br>
    {{form.password_hash2()}}
    <br><br>
    {{form.submit(class='submit btn btn-secondary')}}

</form>
</div>
</div>


{% endif %}

{% endblock %}