{% extends 'base.html' %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<br><br>


{% if username %}
<h2>username: {{username}}</h2>
<h2>password: {{password}}</h2>
i found this
username: {{pw_to_check.username}}
PW: {{pw_to_check.password_hash}}
<br>
Passed: {{ passed }}


{% else %}
<h1>What's your Username and Password?</h1>
<br>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.username.label}}
    <br>
    {{form.username()}}
    <br><br>
    {{form.password_hash.label}}
    <br>
    {{form.password_hash()}}
    <br><br>
    {{form.submit()}}


</form>



{% endif %}

{% endblock %}